.all-cont{
    background-color: rgba(236, 236, 236, 0.85);
    overflow-x: hidden;
    
}



.link-hover:hover{
    translate: 5px -10px;
}

.nav-button{
    background-color: transparent;
    border: none;
}

.slidebar-link{
    transition:transform 0.2s;
}

.slidebar-link:hover{
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    color: black;
    transform: scale(1.04,1.04);
    box-shadow: 0px 0px 10px rgba(203, 203, 203, 0.901);
}

.link-shadow{
    box-shadow: 0px 10px 20px rgba(203, 203, 203, 0.901);
}

.link-img{
    transition:transform 0.5s;
    border: 5px solid rgb(246, 246, 246);
}

.link-img:hover{
    box-shadow: 0px 20px 40px rgba(219, 219, 219, 0.901);
    transform: scale(1.04,1.04);
    border: 5px solid rgb(246, 246, 246);
}

.offcanvas{
    transition-duration: 0.5s;
}

.hr-lines:before{
    content:" ";
    display: block;
    height: 5px;
    width: 6.25rem;
    position: absolute;
    top: 50%;
    left: -20%;
    background: rgb(0, 0, 0);
    border-radius: 8px;
}

.hr-lines{
    position: relative;
    /*  new lines  */
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }

  .hr-lines:after{
    content:" ";
    height: 5px;
    width: 6.25rem;
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 50%;
    right: -20%;
    border-radius: 8px;
  }

  .sticky{
    position: sticky;
    top: 0;
    
  }

  .navbar-border{
    z-index: 1;
    border-radius: 18px;
  }

  .abt-logo{
    border: 10px solid white;
    box-shadow: 0px 0px 50px rgba(172, 172, 172, 0.901);
  }

 
  #preloader{
    background: rgb(242, 242, 242) url("../images/Ripple-1s-200px.gif") no-repeat center center;
    height: 100vh;
    width:100%;
    position: fixed;
    z-index: 100;
  }
  
  .hide{
    display: none;
  }

  .div{
    display: none;
  }


.sofia {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  